@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.none{display: none;}

.fancybox-skin,
.fancybox-opened .fancybox-skin{background: none;box-shadow: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.hidden {
  display: none;
}

@font-face {
    /* font-properties */
    font-family: novecentowide;
    src:url('NOVECENTOWIDE-MEDIUM.OTF');
}


body{background: url(../img/bg.jpg) repeat-y center 1858px;text-shadow: 1px 1px 2px #333;}
.wrapper{background: url(../img/bg_top.jpg) no-repeat center 0;}
.bottom{background: url(../img/bg_bottom.png) no-repeat center bottom;}
.core{width: 962px;margin: 0 auto;position: relative;}
	header{
		width: 1206px;
		height: 746px;
		padding-top: 20px;
		margin: 0 0 -100px -27px;
		background: url(../img/header.png) no-repeat center bottom;}
		.logos{padding-left: 16px;}
			.logos a{display: inline-block;text-indent: -99999px;height: 90px;width: 130px;opacity: .5;}
			.logos a.logo_0{}
			.logos a.logo_1{width: 45px;margin: 0 26px 0 26px;}
			.logos a.logo_2{width: 90px;}
		.header_tb{width: 526px;margin: 251px 0 0 28px;color: #fff;}
			.header_tb th{font-size: 28px;text-align: right;font-weight: normal;padding-bottom: 10px;}
				.header_tb th span{display: block;font-size: 18px;}
			.header_tb td{line-height: 20px;vertical-align: top;}
		.girl_count{
			width: 345px;
			height: 46px;
			line-height: 46px;
			font-size: 24px;
			color: #4f0330;
			text-align: center;
			float: right;
			margin: 5px 238px 0 0;
			font-weight: bold;
			font-family: "novecentowide";}
		.nav{width: 100%;clear: both;}
			.nav a{
				width: 190px;
				height: 72px;
				text-indent: -99999px;
				display: inline-block;}
				.nav a:first-child{width: 160px;margin-left: 30px;}
				.nav a.nav_3{width: 150px;margin-right: 40px;}
				.nav a.current,
				.nav a:hover{background: url(../img/hover.png) no-repeat center bottom;opacity: 1;}
	footer{height: 240px;padding-top: 140px;text-align: center;color: #fff;font-size: 14px;}
	
	.race_course{color: #fff;padding-top: 20px;}
		.race_course h1{font-size: 30px;margin-bottom: 10px;font-weight: normal;}
		.race_course ul{background: url(../img/line.png) no-repeat center -8px;}
			.race_course li{display: inline-block;text-align: center;font-size: 16px;font-family: "novecentowide";}
				.race_course li strong{width: 119px;height: 32px;font-weight: normal;display: block;background: url(../img/course_title_bg.png) no-repeat center 0;line-height: 31px;font-size: 20px;font-weight: normal;margin: 0 auto 30px;}
				.race_course li.current strong{background-position: center bottom;}
				li.course_0{margin-right: 20px;}
				li.course_1{margin-right: 10px;}
				li.course_2{margin-right: 43px;}
				li.course_3{margin-right: 45px;}
				li.course_4{margin-right: 40px;}

	.signup{min-height: 945px;padding: 8px 22px;background: url(../img/signup_bg.png) no-repeat center 0;margin-top: 35px;text-shadow: none;}
		.signup h1{font-family: '宋体';font-size: 36px;text-align: center;color: #fff;font-weight: normal;line-height: 80px;}
		.signup h2{height: 30px;line-height: 30px;text-indent: 12px;background: url(../img/white_bg.png) repeat 0 0;color: #990294;font-size: 18px;font-weight: normal;}
		.signup_box{color: #fdff34;line-height: 38px;padding: 8px 0 8px 16px;font-size: 18px;}
			.msg,
			.signup_box .msg{color: red;text-shadow: 1px 1px 1px blue;font-size: 18px;line-height: 20px;}
			.signup_box input{border: none;background: url(../img/white_bg.png) repeat 0 0;height: 20px;margin-right: 6px;color: #540177;text-indent: 12px;}
			.birth_day{margin-right: 6px;}
			.user_name{width: 122px;}
			.native_place{width: 84px;margin-right: 6px;}
			.signup_box .id_code{width: 220px;margin-right: 0;}
			.nationality{width: 83px;}
			.occupation{width: 113px;}
			.city{width: 119px;margin-right: 6px;}
			.signup_box .email{width: 270px;margin-right: 0;}
			.phone{width: 135px;}
			.education{width: 120px;}
			.signup_box textarea{
				width: 890px;
				height: 85px;
				border: none;
				color: #540177;
				padding: 3px 6px;
				background: url(../img/white_bg.png) repeat 0 0;}
		.signup_box_body input{width: 80px;}
			.signup_box label{display: inline-block;}
			.signup_box_hobby label{margin-right: 16px;}
				.signup_box label input[type="checkbox"]{float: left;margin-top: 11px;}
		.skill_tb label{width: 95px;}
			.skill_tb td:first-child{padding-right: 10px;white-space: nowrap;vertical-align: top;}	
		.photos{overflow: hidden;padding: 20px 0 20px;}
			.photos .msg{margin: -10px 0 10px;}
			.photos li{width: 158px;height: 211px;display: block;padding: 2px;margin-left: 27px;float: left;background: url(../img/photo_bg.png) no-repeat center 0;position: relative;position: relative;overflow: hidden;}
				.photos li > input[type='file']{
					width: 158px;
					height: 251px;
					margin-top: -40px;
					border: none;
					/*visibility: hidden;*/
					position: absolute;}
			.photos .msg + li,
			.photos li:first-child{margin-left: 0;}
				.photos li img{width: 158px;height: 211px;display: none;}
				.photos li img.show{display: block;}
				.photos li img.show + input[type="file"]{display: none;}
				.photos li .photo_btns{
					width: 158px;
					height: 211px;
					position: absolute;
					top: 2px;
					display: none;
					background: url(../img/black_bg.png) repeat 0 0;}
					.photos li:hover img[class="show"] ~ .photo_btns{display: block;}
					.photo_btns > *{
						width: 122px;
						height: 39px;
						line-height: 39px;
						display: block;
						margin: 47px auto -11px;
						font-size: 19px;
						color: #fff;
						background: #74179c;
						border: none;
						cursor: pointer;
						text-align: center;
						position: relative;
						overflow: hidden;}
						.photo_btns > * + *{background: #306804;}
						.photo_btns input[type="file"]{
							width: 122px;
							height: 79px;
							border: none;
							outline: none;
							top: 0;
							left: 0;
							position: absolute;
							margin-top: -40px;}
		.info{color: #fff;font-size: 14px;line-height: 20px;}
		h2 + .info{padding-top: 20px;color: red;}
		.photos + .info{text-align: right;padding-right: 15px;margin-bottom: 50px;}
		.btn_wrapper{padding: 56px 0;text-align: center;}	
			.btn_wrapper > *{
				border: none;
				margin: 0 20px;
				line-height: 47px;
				padding: 0 26px;
				color: #fff;
				background-color: #e13007;
				font-size: 29px;
				display: inline-block;
				cursor: pointer;}
				.btn_wrapper > *:hover{text-decoration: none;}
				.btn_wrapper > .btn_edit{background: #6307e1;}
				.btn_wrapper > .btn_cancel{background: #052f42;}

		#girl_timer{width: 1064px;height: 322px;margin: -80px 0 -70px -29px;background: url('../img/index/timer.png') no-repeat 0 bottom;overflow: hidden;}		
		header + #girl_timer{margin-top: -280px;}
		.timerBox{
			line-height: 140px;
			color: #f8f0f5;
			font-size: 30px;
			margin-top: 80px;
			text-indent: 140px;}
		.timerBox i {width: 60px;text-align: center;text-indent: 0;font-size: 51px;padding: 0 10px;font-family: 'novecentowide';display: inline-block;}

		.girlz_search_list{display: none;}
		.girl_list{overflow: hidden;margin-right: -34px;}
			.girl_list.search_girl_list{padding-top: 50px;background: url(../img/girl_list_line.png) no-repeat center 0;}
			.girl_list a{
				width: 196px;
				height: 259px;
				float: left;
				display: block;
				position: relative;
				padding: 10px 11px 21px 10px;
				margin: 10px 32px 10px 0;
				background: url(../img/girlsbox_op.png) no-repeat center 0;}
				.girl_list a img{width: 195px;height: 259px;display: block;}
				.girl_list .girl_info{
					display: none;
					width: 185px;
					bottom: 0;
					color: #ffbdfe;
					padding: 5px;
					margin-bottom: 21px;
					position: absolute;
					background: url(../img/black_bg.png) repeat 0 0;}
					.girl_list a:hover .girl_info{display: block;}
					.girl_info *{display: inline-block;}
					.girl_info span{}
					.girl_info p{width: 145px;}
					.girl_info span:first-child,
					.girl_info span:first-child + p{color: #ff53e9;}
					.girl_info .girl_info_game_name{color: #fffa7d;}
					.girl_info p.girl_info_game_name{width: 109px;}

		.qr_code_warpper{
			width: 338px;
			height: 330px;
			display: block;
			overflow: hidden;
			background: url(../img/qr_code_bg.png) no-repeat center 0;}
			.qr_code_warpper img{display: block;margin: 106px 0 0 94px;}
		.fancybox-close{margin: 22px 22px 0 0;}

		.jcrop_lg{
			width: 820px;
			height: 720px;
			text-align: center;
			box-shadow: 0 0 3px #000;
			background: url(../img/bg.jpg) repeat-y center center;}
			.jcrop_lg .btn_wrapper{padding: 20px 0;}
		#target_wrapper{
			width: 600px;
			height: 600px;
			float: left;
			margin: 20px 20px 0 20px;}
		#img_preview_158_211{
			width: 158px;
			height: 211px;
			float: left;
			margin-top: 20px;
			text-align: center;}
			#img_preview_158_211 .font{font-size: 18px;color: #fff;padding: 3px 0;}
		.preview_img_div div {
			width: 158px;
			height: 211px;
			overflow: hidden;
			border-radius: 5px;}

	.news{}
		.news a{
			display: block;
			font-size: 16px;
			color: #fff;
			padding: 6px 0;
			border-bottom: 1px dotted #ccc;}
			.news a span{float: right;}

	article{color: #fff;background: url(../img/signup_bg.png) no-repeat center 0;}
		article > h1{font-size: 22px;font-weight: normal;text-align: center;padding: 20px 0 10px;border-bottom: 1px solid #ccc;}
			article > h1 span{font-size: 14px;padding-top: 10px;display: block;}
		.article_content{font-size: 14px;padding: 20px;}
			.article_content img{display: block;margin: 6px auto;}

	.banner{width: 480px;height: 270px;border: 1px solid #fb40fe;overflow: hidden;}
		.banner img{width: 478px;height: 268px;display: block;}
			.slidesjs-pagination{
				margin-top: -30px;
				position: relative;
				z-index: 10;
				padding-right: 10px;
				text-align: right;}
				.slidesjs-pagination li{display: inline-block;margin: 0 3px;}
					.slidesjs-pagination li a{
						width: 16px;
						height: 16px;
						display: block;
						background: #fff;
						border-radius: 8px;
						opacity: .7;
						text-indent: -99999px;
						text-align: center;}
						.slidesjs-pagination li a.active{background: #fb40fe;}
	.portrait_authority_label{color: #fff;padding: 0 0 20px 0;display: block;}
		.portrait_authority_label a{color: #fff;font-size: 16px;}

	.comments_wrapper{background: #fff;padding: 10px 20px 20px;text-shadow: none;}

	.coming_soon{font-size: 30px;color: #fff;text-align: center;padding: 60px;margin: 5px;background: url(../img/bg.jpg) no-repeat center center;box-shadow: 0 0 5px #000;}

	.sns_img{position: absolute;margin-left: -99999px;}

	.qr_right{width: 338px;height: 330px;background: url(../img/qr_right.png) no-repeat center 0;position: fixed;top: 50%;left: 50%;margin: -165px 0 0 440px;}

@media screen and (max-width: 1162px){.core{overflow: hidden;}}

			























