@charset "utf-8";
/* CSS reset */
*{font-family: "优黑","微软雅黑", "宋体", "Microsoft Yahei", "Pinghei", Arial, Helvetica, sans-serif;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0; }
fieldset,img {border:0; }
ol,ul {list-style:none; }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {font-size:100%;}
button::-moz-focus-inner,input::-moz-focus-inner{padding:0; border:0;}
table {border-collapse:collapse;border-spacing:0;}
i, cite, em, var, dfn, address {font-style: normal;}
body{font:12px "微软雅黑", "宋体",Arial, Helvetica, sans-serif;}
a{color: #313131;text-decoration: none;}
a:hover{text-decoration: underline;}
a:active, a:focus{outline:none}
a[href^="http://tongji.baidu.com"]{display: none;}
.fl{float: left;}
.fr{float: right;}
.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; font-size:0;}
.clearfix{zoom:1;clear:both;}
.clear{clear:both; height:0; line-height:0; font-size:0;}
.none{display: none;}

.display-flexbox {
    display: -webkit-box;   /* 兼容旧的 webkit，Android 2.x */
    display: -webkit-flex;  /* 标准写法 带 webkit 前缀，兼容标准确立之前的 webkit */
    display: flex;          /* 标准写法 最新的 webkit, firefox, msie 可以支持 */
}
.flexbox-children {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
}
.hidden {
  display: none;
}

@font-face {
    /* font-properties */
    font-family: novecentowide;
    src:url('NOVECENTOWIDE-MEDIUM.OTF');
}


body{background: url(../img/bg.jpg) repeat-y center 1858px;text-shadow: 1px 1px 2px #333;}
.wrapper{background: url(../img/bg_top.jpg) no-repeat center 0;}
.bottom{background: url(../img/bg_bottom.png) no-repeat center bottom;}
.core{width: 962px;margin: 0 auto;}
	header{
		width: 1206px;
		height: 746px;
		padding-top: 20px;
		margin: 0 0 -100px -27px;
		background: url(../img/header.png) no-repeat center bottom;}
		.logos{padding-left: 16px;}
			.logos a{display: inline-block;text-indent: -99999px;height: 90px;width: 130px;opacity: .5;}
			.logos a.logo_0{}
			.logos a.logo_1{width: 45px;margin: 0 26px 0 26px;}
			.logos a.logo_2{width: 90px;}
		.header_tb{width: 526px;margin: 251px 0 0 28px;color: #fff;}
			.header_tb th{font-size: 28px;text-align: right;font-weight: normal;padding-bottom: 10px;}
				.header_tb th span{display: block;font-size: 18px;}
			.header_tb td{line-height: 20px;vertical-align: top;}
		.girl_count{
			width: 345px;
			height: 46px;
			line-height: 46px;
			font-size: 24px;
			color: #4f0330;
			text-align: center;
			float: right;
			margin: 5px 238px 0 0;
			font-weight: bold;
			font-family: "novecentowide";}
		.nav{width: 100%;clear: both;}
			.nav a{
				width: 190px;
				height: 72px;
				text-indent: -99999px;
				display: inline-block;}
				.nav a:first-child{width: 160px;margin-left: 30px;}
				.nav a.nav_3{width: 150px;margin-right: 40px;}
				.nav a.current,
				.nav a:hover{background: url(../img/hover.png) no-repeat center bottom;opacity: 1;}
	footer{height: 240px;padding-top: 140px;text-align: center;color: #fff;font-size: 14px;}
	
	.race_course{color: #fff;margin-top: 25px;}
		.race_course h1{font-size: 30px;margin-bottom: 10px;font-weight: normal;}
		.race_course ul{background: url(../img/line.png) no-repeat center -8px;}
			.race_course li{display: inline-block;text-align: center;font-size: 16px;font-family: "novecentowide";}
				.race_course li strong{width: 119px;height: 32px;font-weight: normal;display: block;background: url(../img/course_title_bg.png) no-repeat center 0;line-height: 31px;font-size: 20px;font-weight: normal;margin: 0 auto 30px;}
				.race_course li.current strong{background-position: center bottom;}
				li.course_0{margin-right: 20px;}
				li.course_1{margin-right: 10px;}
				li.course_2{margin-right: 43px;}
				li.course_3{margin-right: 45px;}
				li.course_4{margin-right: 40px;}

	.signup{min-height: 945px;padding: 8px 22px;background: url(../img/signup_bg.png) no-repeat center 0;margin-top: 35px;text-shadow: none;}
		.signup h1{font-family: '宋体';font-size: 36px;text-align: center;color: #fff;font-weight: normal;line-height: 80px;}
		.signup h2{height: 30px;line-height: 30px;text-indent: 12px;background: url(../img/white_bg.png) repeat 0 0;color: #990294;font-size: 18px;font-weight: normal;}
		.signup_box{color: #fdff34;line-height: 38px;padding: 8px 0 8px 16px;font-size: 18px;}
			.msg,
			.signup_box .msg{color: red;text-shadow: 1px 1px 1px blue;font-size: 18px;line-height: 20px;}
			.signup_box input{border: none;background: url(../img/white_bg.png) repeat 0 0;height: 20px;margin-right: 6px;color: #540177;text-indent: 12px;}
			.birth_day{margin-right: 6px;}
			.user_name{width: 122px;}
			.native_place{width: 84px;margin-right: 6px;}
			.signup_box .id_code{width: 220px;margin-right: 0;}
			.nationality{width: 83px;}
			.occupation{width: 113px;}
			.city{width: 119px;margin-right: 6px;}
			.signup_box .email{width: 270px;margin-right: 0;}
			.phone{width: 135px;}
			.education{width: 120px;}
			.signup_box textarea{
				width: 890px;
				height: 85px;
				border: none;
				color: #540177;
				padding: 3px 6px;
				background: url(../img/white_bg.png) repeat 0 0;}
		.signup_box_body input{width: 80px;}
			.signup_box label{display: inline-block;}
			.signup_box_hobby label{margin-right: 16px;}
				.signup_box label input[type="checkbox"]{float: left;margin-top: 11px;}
		.skill_tb label{width: 95px;}
			.skill_tb td:first-child{padding-right: 10px;white-space: nowrap;vertical-align: top;}	
		.photos{overflow: hidden;padding: 40px 0 20px;}
			.photos .msg{margin: -10px 0 10px;}
			.photos li{width: 158px;height: 211px;display: block;padding: 2px;margin-left: 27px;float: left;background: url(../img/photo_bg.png) no-repeat center 0;position: relative;}
			.photos .msg + li,
			.photos li:first-child{margin-left: 0;}
				.photos li img{display: none;}
				.photos li img.show{display: block;}
				.photos li .photo_btns{
					width: 158px;
					height: 211px;
					position: absolute;
					top: 2px;
					display: none;
					background: url(../img/black_bg.png) repeat 0 0;}
					.photos li:hover img[class="show"] + .photo_btns{display: block;}
					.photo_btns > *{
						width: 122px;
						height: 39px;
						line-height: 39px;
						display: block;
						margin: 47px auto -11px;
						font-size: 19px;
						color: #fff;
						background: #74179c;
						border: none;
						cursor: pointer;
						text-align: center;}
						.photo_btns > * + *{background: #306804;}
		.info{color: #fff;font-size: 14px;line-height: 20px;}
		.photos + .info{text-align: right;padding-right: 15px;margin-bottom: 50px;}
		.btn_wrapper{padding: 56px 0;text-align: center;}	
			.btn_wrapper > *{
				border: none;
				margin: 0 20px;
				line-height: 47px;
				padding: 0 26px;
				color: #fff;
				background-color: #e13007;
				font-size: 29px;
				display: inline-block;}
				.btn_wrapper > .btn_edit{background: #6307e1;}
				.btn_wrapper > .btn_cancel{background: #052f42;}
			
.timerBox{
	height: 197px;
	line-height: 200px;
	text-align: center;
	color: #f8f0f5;
	font-size: 30px;
	margin-left: -39px;
	margin-right: -39px;
	background: url('../img/index/timer.png') no-repeat 0 0;
}
.timerBox i {font-size: 51px;padding: 0 10px;font-family: 'novecentowide';}






















